
    <li>
      <img class= "data-icon" src="./img/group-icon.png" alt="group icon">
      <div class="group-content">
        <h3> Name</h3>
        <p>No time in this group yet</p>
      </div>
    </li>