<%= render  "shared/side_bar" %>
<section class="main">
<div class="section-head">
    <h1>ALL GROUPS</h1>

    <div class="action-buton">
    <%= link_to  "ADD NEW GROUP", new_group_path %>
    </div>   
</div>
  
  <%@groups.each do |g|%>
    <%= g.name%> <br>
  <%end%>
</section>
