<h1><%= @group.name%></h1>

<h3>Times</h3>

<% if @group.transactions %>
  <% @group.transactions.each do |t|%>
   <%=t.name%>
  <%end%>

  <%else %>
  <p>No time yet</p>
<% end %>
<%= render  "shared/side_bar" %>
