<h1><%=@user.username%></h1>


<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar %>

  <%else%>
  <img src="./img/avatar.png" alt="">
<% end %>
<%= link_to  "New time_transaction", new_transaction_path %>
<%= link_to  "New Group", new_group_path %>