<section class= "side-bar">
  <div class="logo">
    <a href="/"> 
      <h4>Timetracker</h4>
    </a>
  </div>
  <ul class="sidebar-menu">
    <div class = "sidebar-items" >
      <i class="fas fa-building icons-a"></i>
      <li ><%= link_to  "All Groups", groups_path %> </li>
    </div>

    <div class = "sidebar-items" >
      <i class="fas fa-clock icons-a"></i>
      <li ><%= link_to  "All Times", transactions_path %></li>
    </div>
    <div class = "sidebar-items" >
      <i class="fas fa-external-link-alt icons-a"></i>
      <li ><%= link_to  "All External times", transactions_path %></li>
    </div>

        <div class = "sidebar-items" >
      <i class="fas fa-sign-out-alt icons-a"></i>
      <li ><%= link_to  "Log out", logout_path %></li>
    </div>
  </ul>
</section>
