<div class="main">
  <nav>
    <ul>
      <li><%= link_to  "Home", root_path %></li>
    </ul>
  </nav>
  <div class="data-about">
    <h1>About</h1>
    <p>Timetracker is an application to help you track and group your working time. <br>
       You can group your time by a business, project or leave them blanks as external time. <br>
       You can add your own group to group your time. You don't need to spend time calculating your time for a specific group the app displays the total of time you spent on each group you worked on.
    </p>
    <h4>Feature Available:
    </h4>
    <p>Create time an associate it to a group <br>
      Create group <br>
      Display group alphabetically <br>
      Display external time <br>
      Display time by most recent <br>
      Display a single group with time on this group <br>
      Pagination to list times and groups. <br>
    </p>
    <h4>New features coming up: </h4>
    <p>Set time to private or public <br>
      Track time automatically <br>
      Search for time and group <br>
      Download group time in excel format <br>
    </p>
  </div>
</div>
