@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pacifico&display=swap");

.wrapper {
  max-width: 1400px;
  margin: auto;
  height: 100%;
}

.container {
  display: flex;
  height: 600px;
}
.logo {
  display: flex;
  max-width: 400px;
  align-items: center;
}

.logo h4 {
  color: white;
  margin-left: 30px;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 4px;
}

.logo a {
    text-decoration: none;
}
.main {
  width: 70%;  
}

.side-bar {
  height: 100%;
  width: 250px;
  background-color: #3778c2;
  margin-right: 10px;
}
.sidebar-menu {
    padding-top: 60px;
}

.sidebar-items {
    display: flex;
    margin-bottom: 20px;
    
}

.sidebar-items li {
    padding-top: 10px;
    margin-left: 20px;
    border-bottom: 1px solit white;
    list-style: none;
}

.sidebar-items li a {
    text-decoration: none;
    color: white;
}

.sidebar-items .icons-a {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}