@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pacifico&display=swap");

.wrapper {
  max-width: 1400px;
  margin: auto;
  height: 100%;
}

.container {
  display: flex;
  height: 600px;
}
.logo {
  display: flex;
  max-width: 400px;
  align-items: center;
}

.logo h4 {
  color: white;
  margin-left: 20px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 4px;
}

.logo a {
    text-decoration: none;
}
.main {
  width: 70%;  
}

.side-bar {
  height: 100%;
  width: 250px;
  background-color: #3778c2;
  padding-top: 60px;
  margin-right: 10px;
}

.sidebar-menu li {
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    line-height: 30px;
    
}